@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-container {
    @apply w-full h-screen flex justify-center items-center sm:bg-[var(--bg-highlight-color)];
  }

  .form-area {
    @apply w-full sm:w-[640px] flex flex-col justify-center items-center p-0 sm:py-40 sm:px-32 bg-white rounded-none sm:rounded-3xl;
  }

  .form-area.signup {
    @apply py-0;
  }

  .form-elements {
    @apply w-full min-w-80 sm:p-0 p-8;
  }

  .form-title h1 {
    @apply pl-0 text-3xl text-center;
  }

  .form-title.signup h1 {
    @apply pb-1 pt-5;
  }

  .auth-input {
    @apply border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .auth-checkbox {
    @apply mr-5 ml-1 mt-2;
  }

  .auth-label {
    @apply block mt-5 mb-2 text-sm font-semibold dark:text-white;
  }

  .auth-span {
    @apply text-red-500 text-xs;
  }

  /* 버튼 - 공통 css 수정 예정 */
  .auth-form .auth-btn {
    width: 100%;
    padding: 12px 0;
    color: #000;
    background-color: var(--highlight-color);
    color: #fff;
    font-weight: 500;
    margin: 30px 0;
  }

  .signup-link {
    @apply text-center;
  }
}
