@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #mobile-footer {
    @apply hidden bg-white;
  }

  .footer-list {
    @apply flex w-full justify-between px-1 text-center;
  }

  .footer-item a {
    @apply flex w-full duration-200;
  }

  .footer-item a:hover .footer-icon-text-group div {
    @apply text-[var(--hover-highlight-color)];
  }

  .footer-item a.active .footer-icon-text-group div {
    @apply text-[var(--highlight-color)];
  }

  .footer-icon-text-group div {
    color: var(--sub-font-color);
  }

  .footer-icon {
    font-size: 30px;
  }

  .footer-text {
    font-size: 14px;
  }
}
