/* Home */

/* 사이트 소개 배너 */
.banner {
  @apply flex mr-5 rounded-xl bg-[var(--bg-highlight-color)];
  position: relative;
  width: 70%;
}

.banner-text-area {
  @apply px-8 py-4;
  z-index: 1;
}

.banner h3 {
  @apply text-[30px] pt-1 pb-3;
}

.banner-text {
  @apply text-lg;
}

.img-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 340px;
}

.img-box img {
  width: 100%;
  max-width: 100%;
  object-position: center center;
  object-fit: cover;
}

.site-map {
  @apply rounded-xl;
  width: 30%;
}

.banner-btn {
  margin: 16px 0;
  border: 1px solid var(--sub-font-color);
  font-size: 16px;
  border-radius: 30px;
  padding: 6px 12px;
}

.banner-btn:hover {
  background-color: var(--highlight-color);
  color: #fff;
  border: 1px solid transparent;
}

/* 예문, 퀴즈 소개 */
.main-learn > div {
  @apply w-2/4;
}

/* 캐릭터 대화 목록 소개 */
.list-char {
  @apply grid grid-cols-2 lg:grid-cols-4 gap-3;
}
.list-char li {
  @apply rounded-xl overflow-hidden hover:shadow-md duration-300 border border-[var(--border-divide-color)];
}

.list-char a {
  @apply flex flex-col text-[var(--btn)] hover:text-black rounded-lg bg-[--bg-highlight-color];
}
.list-char li .img {
  @apply relative pt-[85%] rounded-xl object-cover overflow-hidden;
}
.list-char li img {
  @apply absolute top-0 w-full h-full object-cover transition-all duration-300 ease-in-out bg-white;
}
.list-char li:hover img {
  @apply scale-110;
}
.list-char li dl {
  @apply m-5;
}
.list-char li .name {
  @apply truncate font-bold text-black;
}
