@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #nav {
    @apply h-full flex flex-col flex-shrink-0 overflow-x-hidden;
    background-color: #faf5f0;
  }

  .nav-container {
    @apply h-full w-[280px] flex flex-col justify-between px-3.5 py-8;
  }

  .logo {
    @apply pl-4;
  }

  /* 메뉴 */
  .nav-menu-item {
    @apply flex items-end mb-1;
  }

  .nav-menu-item a {
    @apply block w-full rounded-[32px] py-2 text-lg;
  }

  .nav-menu-item a:hover {
    @apply text-white;
    background-color: var(--hover-highlight-color);
  }

  .active {
    @apply text-white;
    background-color: var(--highlight-color);
  }

  .nav-menu-box {
    @apply flex items-center;
  }

  .nav-menu-item .nav-icon {
    @apply pl-4 pr-4 pb-1;
    font-size: 22px;
  }

  .nav-footer {
    @apply pl-4;
    color: var(--sub-font-color);
  }
}
