@tailwind components;

@layer components {
  .review {
    @apply w-full flex justify-center;
  }

  .review .container {
    @apply flex-col p-0;
  }

  .conversation-controls {
    @apply w-full flex flex-row-reverse py-5;
  }

  .review-conversation-lists {
    @apply w-full;
  }

  .date {
    @apply py-5 text-lg text-[var(--sub-font-color)];
  }

  .review-item a {
    @apply flex p-6 mb-3 shadow rounded-xl;
  }

  .character-img {
    @apply w-40 h-40 object-cover border border-[var(--border-divide-color)] overflow-hidden rounded-full shadow;
  }

  .character-name {
    @apply text-2xl;
  }

  .corrected-sentence-count {
    @apply inline-block w-8 h-8 text-lg text-center text-white rounded-full bg-[var(--highlight-color)];
  }

  .conversation-time {
    @apply py-2;
  }

  .review-character span:nth-child(2)::after {
    content: '~';
  }

  .incorrect-first {
    @apply rounded-full;
    padding: 0.5rem 1rem;
    background-color: var(--bg-highlight-color);
  }
}
