@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-nav {
    @apply h-full flex flex-col flex-shrink-0 overflow-x-hidden bg-[var(--bg-highlight-color)];
  }

  .sidebar-nav-container {
    @apply h-full w-[280px] flex flex-col justify-between px-3.5 py-8;
  }

  .desktop-mobie {
    @apply pl-4;
  }

  .tablet {
    @apply hidden;
  }

  /* 메뉴 */
  .sidebar-nav-item {
    @apply flex items-end mb-1;
  }

  .sidebar-nav-item a {
    @apply flex w-full rounded-[32px] py-2 text-lg duration-200;
  }

  .sidebar-nav-item a:hover {
    @apply text-white;
    background-color: var(--hover-highlight-color);
  }

  .sidebar-nav-item a.active {
    @apply text-white;
    background-color: var(--highlight-color);
  }

  .icon-text-group {
    @apply flex items-center;
  }

  .icon {
    @apply pl-4 pr-4 pb-1;
    font-size: 22px;
  }

  .nav-footer {
    @apply pl-4;
    color: var(--sub-font-color);
  }
}
