/* Talk */
.list-talk {
  --bubble-bg:#faf5f0;
  --bubble-bg-ov:var(--highlight-color);
	@apply flex h-full flex-col;
}

.list-talk .inner {
	@apply flex-1 overflow-hidden overflow-y-auto px-5 pb-5;
}
.list-talk .head{
  @apply mb-8 flex flex-col lg:flex-row gap-8
}
.list-talk .head .profile{
  @apply  shrink-0 w-[200px] h-[200px]  rounded-lg overflow-hidden border shadow-[10px_10px_0_0px_var(--btn-bg-ov)] duration-300;
}
.list-talk .head .profile img{
  @apply w-full h-full object-cover
}
.list-talk .head dt{
  @apply font-bold
}
.list-talk .head a{
  @apply text-inherit inline-flex items-center gap-1;
}
.list-talk li {
	@apply flex-row-reverse my-4 flex flex-1 text-base mx-auto gap-5;
}
.list-talk li .profile {
	@apply w-[50px] h-[50px] flex-shrink-0 flex flex-col relative items-end overflow-hidden rounded-lg;;
}
.list-talk li .profile img{
  @apply w-full h-full object-cover
}
.list-talk li .info {
	@apply relative flex w-full flex-col p-2 px-3 rounded-lg rounded-tr-none bg-[var(--bubble-bg-ov)] text-white shadow-lg;
}
.list-talk li.ai {
	@apply flex-row;
}
.list-talk li.ai .info{
	@apply items-start text-inherit rounded-lg rounded-tl-none bg-[var(--bubble-bg)];
}
.list-talk li:not(.ai) .info{
	@apply items-end;
}
.list-talk li .info .message{
	@apply whitespace-pre-wrap;
}
.list-talk li.user .info .message{
	@apply text-right;
}
.list-talk li .info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 10px;
  height: 20px;
  background-color: var(--bubble-bg-ov);
}
.list-talk li .info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 10px;
  height: 20px;
  border-radius: 20px 0 0 ;
  background-color: white;
}
.list-talk li.ai .info:before {
  left:auto;
  right: 100%;
  background:var(--bubble-bg);
}
.list-talk li.ai .info:after {
  content: '';
  position: absolute;
  bottom: 0;
  left:auto;
  right: 100%;
  width: 10px;
  height: 20px;
  border-radius: 0 20px 0 0;
  background-color: white;
}
.list-talk li a{
  @apply text-blue-500
}
.list-talk li .speaker{
  @apply cursor-pointer inline-flex items-center p-1 text-sm leading-none px-2 text-black bg-white rounded-full
}
.list-talk li .icon{
  transform:rotateY(180deg);
}

.list-talk .form {
	@apply flex flex-col items-center gap-2 w-full  dark:border-white/20 md:border-transparent md:dark:border-transparent md:w-[calc(100%-.5rem)];
}
.list-talk .form .btns{@apply flex justify-between w-full}
.list-talk .form .btn-send{@apply inline-flex relative leading-none rounded-full  text-black /*  bg-transparent border-0 */bg-gray-100}
.list-talk .form .btn-mic{@apply inline-flex rounded-full leading-none  text-black bg-gray-100}
.list-talk .form textarea{resize: none;grid-area: 1 / 1 / 2 / 2;}
.list-talk .form .textarea-wrap{@apply grid w-full}
.list-talk .form .textarea-wrap:after{
  content: attr(data-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  grid-area: 1 / 1 / 2 / 2;
  @apply grid
}
.list-talk .form .shortcuts{
  @apply text-xs inline-flex items-center gap-1
}
.list-talk .form .shortcuts span{
  @apply inline-flex items-center bg-gray-300 p-1 rounded-md
}
.list-talk .form .shortcuts svg{
  @apply font-bold
}

