#nav {
  /* @apply flex h-full flex-col flex-shrink-0 w-0 overflow-x-hidden; */
  width: 300px;
  background-color: red;
}
/* .nav {
  @apply flex-1 flex-shrink-0 w-0 md:w-[260px] overflow-x-hidden text-white;
  width: 300px;
  min-widht: 300px;
  background-color: #80c2af;
} */
